* {
  text-align: center;
  background-color: lightgoldenrodyellow;
  font-size: 50px;
}

.h2 {
  font-size: 50px;
}

.d1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: firebrick;
  margin-left: 850px;
}

.d2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: crimson;
  margin-left: 850px;
}

.b1 {
  width: 200px;
  height: 100px;
  background-color: lemonchiffon;
  margin-top: 20px;
  border-radius: 30px;
}

.b2 {
  width: 200px;
  height: 100px;
  background-color: lemonchiffon;
  margin-top: 20px;
  border-radius: 30px;
}
