table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

h1{
    text-align: center;
    font-size: 40px;
} 

button {
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(189, 188, 188);
}

button:hover {
    background-color: #72aed6;
}