body {
    background-color: #d4d8e9;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    background-color: rgb(15, 4, 91);
    padding: 10px;
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
}

#screen {
    width: 100%;
    padding: 10px 0;
    text-align: right;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

#buttons {
    text-align: center;
}

button{
    width: 70px;
    height: 50px;
    border-radius: 5px;
    margin: 4px;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border: 1px solid black;
}